@import "../../../../assets/scss/colors";

.single-content{
    position: relative;
    .icon{
        height: 50px;
        width: 50px;
        border-radius: 100%;
        border: 1px solid var(--primary-background-color);
        svg{
            font-size: var(--font-size-20);
            color: var(--primary-text-color);
        }
    }
    .action-content{
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
}