@import "../../../../assets/scss/webkit";
@import "../../../../assets/scss/const";

.single-content{
    position: relative;
    .icon{
        height: 50px;
        width: 50px;
        border-radius: 100%;
        border: 1px solid var(--primary-background-color);
        svg{
            font-size: var(--font-size-20);
            color: var(--primary-text-color);
        }
    }
    .action-content{
        position: absolute;
        right: 16px;
        bottom: 16px;
        opacity: 0;
        @extend .transition05s;
    }
    &:hover{
        .action-content{
            opacity: 1;
        }
    }
    @media(max-width: $resolution-medium){
        .action-content{
            opacity: 1;
        }
    }
}