@import '../../../../assets/scss/const';
@import '../../../../assets/scss/webkit';

.sort-filter-button{
    width: auto;
    position: fixed;
    z-index: 3;
    bottom: 36px;
    left: 60%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    background-color: var(--white-background-color);
    width: 100px;
    border-radius: 24px;
    padding: 4px 16px;
    @extend .transition05s;
    cursor: pointer;
    font-size: 24px;
    color: var(--grey-text-color);
    &:hover{
        background-color: var(--primary-background-color);
        color: var(--white-text-color);
    }
    @media(max-width: $resolution-medium){
        left: 50%;
    }
}